<div class="container">

  <h1 class="profile-name"><%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="profile-details">
    <p class="profile-info">Description: <%= @user.description %></p>
    <p class="profile-info">Skills: <%= @user.skills %></p>
    <p class="profile-info">Github: <%= @user.github %></p>
  </div>
  <% if current_user == @user %>
    <div class="request-details">
      <% @connections_current_user.each do |connection| %>
        <% if connection.status == false %>
          <p> Pending connections requests: </p>
          <%= link_to "Approve?", connection_path(connection), data: {turbo_method: :patch} %>
        <% else %>
          <p>Friends:
            <%= link_to  connection.friend.first_name, profile_path(connection), class:"d-flex" %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% else (current_user != @user)  %>
    <% if @connection_two.status == nil %>
    <% elsif  @connection_two.status == true %>
      <%= link_to "Delete Connection?", connection_path(@connection_two), data: {turbo_method: :delete} %>
    <% else %>
    <%end%>
  <% end %>

  <%= link_to "Back to users", profiles_path %>
</div>
