<div class="container mb-3">
  <div class="subcontainer d-flex gap-3">
    <div class="card profile-design rounded-boundary d-flex col-md-4 ">

      <div class="profile-image text-center mt-2">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key,class: "img-profile img-thumbnail" %>
          <h1 class="profile-name mt-1 text-center"><%= @user.first_name %> <%= @user.last_name %></h1>
        <% else %>
          <%= image_tag "profile_placeholder.png",class: "img-profile" %>
          <h1 class="profile-name mt-1 text-center"><%= @user.first_name %> <%= @user.last_name %></h1>
        <% end %>
      </div>

      <div class="text-center mb-2">
        <%if @connection_two && current_user != @user%>
          <%= link_to connection_path(@connection_two), class: "text-decoration-none", data: {turbo_method: :delete} do %> <button type="button" class="btn btn-outline-danger mt-2">Delete Connection</button> <% end %>
        <% end %>
      </div>
    </div>

    <div class="profile-details card rounded-boundary d-flex flex-column justify-content-center col-md-8">
      <div class="profile-text text-start mx-3">
        <p> <strong>Description: </strong> <%= @user.description %></p>
        <p><strong> Skills:</strong>
          <% @user.skills.each do |language| %>
            <%= language %>
          <% end %>
        </p>
        <div class="github-link">
          <%= link_to @user.github, target: "_blank" do %>
            <i class="fa-brands fa-github"></i> View on Github
          <% end %>
        </div>
      </div>
      <div class="profile-text text-start mx-3">
        <% if current_user == @user %>
          <% if @approved_connections.count >= 1  %>
              <p> <strong> Friends: </strong>
              <% @approved_connections.each do |connection| %>
                <%= link_to  (cl_image_tag connection.other_person(@user).photo.key , class: "rounded-circle", height:50, width:50 ), profile_path(connection.other_person(@user))  %>
              <% end %>
              </p>
          <% end %>
        <% else %>
          <% if @approved_connections1.count >= 1  %>
              <p> <strong> Friends: </strong>
              <% @approved_connections1.each do |connection| %>
                <%= link_to  (cl_image_tag connection.other_person(@user).photo.key , class: "rounded-circle", height:50, width:50 ), profile_path(connection.other_person(@user))  %>
              <% end %>
              </p>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

  <div class="subcontainer d-flex gap-3">
    <div class="buttons col-md-4">
      <%= link_to profiles_path , class: "text-decoration-none" do %> <button type="button" class="btn btn-outline-success btn-sm ">Back</button> <% end %>
      <% if current_user != @user%>
        <% if @chatroom_available.present? %>
          <%= link_to chatroom_path(@chatroom_available), class: "text-decoration-none" do %> <button type="button" class="btn btn-success"><i class="fa-regular fa-comments"></i> Keep chating </button> <% end %>
        <% else %>
          <%= link_to profile_chatrooms_path(@user), data: {turbo_method: :post}, class: "text-decoration-none" do %> <button type="button" class="btn btn-success">Start a new chat</button> <% end %>
        <% end %>
      <% end %>
    </div>

    <% if current_user == @user && @pending_connections.count >= 1%>
      <div class="rounded-boundary col-md-8">
        <div class="mx-3 mt-2">
          <p> <strong> Pending connections requests: </strong> </p>
          <% @pending_connections.each do |connection| %>
            <% if connection.other_person(current_user).photo.attached? %>
              <p> <%= link_to (cl_image_tag connection.other_person(current_user).photo.key , class: "rounded-circle", height:50, width:50), profile_path(connection.other_person(@user)) %> <%= connection.other_person(current_user).first_name%> <%= connection.other_person(current_user).last_name %> <%= link_to  connection_path(connection), data: {turbo_method: :patch}, class: "text-decoration-none" do %> <button type="button" class="btn btn-success">Approve!</button> <% end %> <%= link_to connection_path(connection), data: {turbo_method: :delete} do %> <button type="button" class="btn btn-outline-danger text-red"><i class="fa-regular fa-trash-can"></i></button> <% end %></p>
            <% else %>
              <p> <%= link_to ( image_tag "profile_placeholder.png" , class: "rounded-circle", height:50, width:50), profile_path(connection.other_person(@user)) %> <%= connection.other_person(current_user).first_name%> <%= connection.other_person(current_user).last_name %> <%= link_to  connection_path(connection), data: {turbo_method: :patch}, class: "text-decoration-none" do %> <button type="button" class="btn btn-success">Approve!</button> <% end %> <%= link_to connection_path(connection), data: {turbo_method: :delete} do %> <button type="button" class="btn btn-outline-danger text-red"><i class="fa-regular fa-trash-can"></i></button> <% end %></p>
            <% end %>
          <% end  %>
        </div>
      </div>
    <% end %>
  </div>

</div>
