<div class="container">

  <h1 class="profile-name"><%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="profile-details">
    <p class="profile-info">Description: <%= @user.description %></p>
    <p class="profile-info">Skills: <%= @user.skills %></p>
    <p class="profile-info">Github: <%= @user.github %></p>
  </div>

</div>
