<div class="container mb-3 ">
  <div class="profile-image text-center">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key,class: "rounded-circle", height: 120, width: 120, crop: :fill %>
    <% else %>
      <%= image_tag "profile_placeholder.png",class: "rounded-circle", height: 120, width: 120, crop: :fill %>
    <% end %>
  </div>

  <div class="profile-details text-center">
    <h1 class="profile-name mt-1"><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="profile-info">Description: <%= @user.description %></p>
    <p class="profile-info">Skills: <%= @user.skills %></p>
    <p class="profile-info">Github: <%= @user.github %></p>
  </div>
  <% if current_user == @user %>
    <div class="request-details text-center mt-2">
      <% if @pending_connections.each.count >= 1  %>
        <p> <strong> Pending connections requests: </strong> </p>
      <% end %>
      <% @pending_connections.each do |connection| %>
          <p> <%= connection.other_person(current_user).first_name%> <%= connection.other_person(current_user).last_name %> <%= link_to "Approve!", connection_path(connection), data: {turbo_method: :patch} %> or <%= link_to connection_path(connection), data: {turbo_method: :delete} do %> <i class="fa-regular fa-trash-can"></i> <% end %></p>
      <% end  %>

      <% if @approved_connections.each.count >= 1  %>
        <p> <strong> Friends: </strong> </p>
      <% end %>
      <% @approved_connections.each do |connection| %>
            <%= link_to  (cl_image_tag connection.other_person(current_user).photo.key , class: "rounded-circle", height:50, width:50, crop: :fill ), profile_path(connection.other_person(current_user))  %>
      <% end %>
    </div>
  <% else (current_user != @user)  %>
    <% if  @connection_two %>
      <%= link_to "Delete Connection?", connection_path(@connection_two), data: {turbo_method: :delete} %>
    <% end %>

    <% if @chatroom_available.present? %>
      <%= link_to "Keep talking to #{@user.first_name} #{@user.last_name}", chatroom_path(@chatroom_available) %>
    <% else %>
      <%= link_to "Start a new chat", profile_chatrooms_path(@user), data: {turbo_method: :post} %>
    <% end %>
  <% end %>

  <%= link_to profiles_path do %> <button type="button" class="btn btn-success">Back to users</button> <% end %>
</div>
