<div class="container mt-5">
  <div class="row justify-content-center m-5">
    <div class="col-md-9">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h1 class="card-title text-center"><%= @pitch.title %></h1>
          <p class="card-text"><%= @pitch.description %></p>
          <p class="card-text"><%= @pitch.category %></p>
          <div class="card-body">
            <%= cl_image_tag @pitch.photo.key, alt: current_user.first_name, class: "img-pitches " %>
            <h4 class="card-title text-center"><%= current_user.first_name %> <%= current_user.last_name %></h4>
          </div>

          <div class="d-flex justify-content-between mb-4">
            <%= link_to "Edit this pitch", edit_pitch_path(@pitch), class: "btn btn-primary" if @pitch.user == current_user %>
            <%= link_to "Back to pitch", pitches_path, class: "btn btn-success" %>
            <% if @pitch.user == current_user %>
              <%= button_to "Delete this pitch", @pitch, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
        <% @pitch.comments.each do |comment| %>
          <%= cl_image_tag comment.user.photo.key, class: "img comment rounded-circle mx-auto d-block d-flex aling-items-left" %>
          <%= comment.user.first_name %>
          <%= comment.content %> - <%= comment.rating %>
        <% end  %>
      </div>

      <%= simple_form_for [@pitch, @comment], class: "mt-4" do |f| %>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h4 class="card-title">Add Your Comment</h4>
            <div class="form-group">
              <%= f.input :content, label: false, placeholder: "Type your comment here...", input_html: { class: "form-control" }  %>
            </div>
            <div class="form-group">
              <%= f.input :rating, label: "Rating (1-5)", input_html: { class: "form-control ", min: 1 ,max: 5 } %>
            </div>
            <%= f.submit "Create Comment", class: "btn btn-primary btn-block"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [@pitch, @favorite], class: "mt-4" do |f| %>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h4 class="card-title">Do You Like It?</h4>
        <%= f.submit "Yes", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-4">
    <% @pitch.favorites.each do |favorite| %>
      <div class="col-md-6 mb-4">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <%= cl_image_tag favorite.user.photo.key, alt: favorite.user.first_name, class: "img-fluid rounded-circle mx-auto d-block" %>
            <h4 class="card-title text-center"><%= favorite.user.first_name %> <%= favorite.user.last_name %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
