<div class="container   my-3">
  <div class="row justify-content-center my-5">
    <div class="col-md-9">
      <div class="description-item mb-2">



      <%# Pitch Info %>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body-pitch ">
            <div class="d-flex ">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag @pitch.user.photo.key, alt: @pitch.user.first_name, class: "comment-user-img me-2" %>
              <% else %>
                <%= image_tag "profile_placeholder.png", alt: @pitch.user.first_name, class: "comment-user-img me-2" %>
              <% end %>
                <h4 class="card-title mt-3"><%=  @pitch.user.first_name %> <%=  @pitch.user.last_name %></h4>
            </div>
            <div class="pitch-info">
              <% if @pitch.photo.attached? %>
                <%= cl_image_tag @pitch.photo.key, alt: current_user.first_name, class: "img-pitches" %>
              <% else %>
                <%= image_tag "placeholder.webp", alt: current_user.first_name, class: "img-pitches" %>
              <% end %>
              <div class="pitch-text">
                <h2 class="card-title-show"><%= @pitch.title %></h2>
                <p class="card-text-pitch"><strong class="title-show-descp">Skills:</strong></p>
                 <% @pitch.languages.each do |language| %>
                  <p class=" p-descr"><%= language %></p>
                 <% end %>
                <p class="card-text-pitch mx-3 "><strong class="title-show-descp">Category:</strong> <%= @pitch.category %></p>
              </div>
            </div>
            <p class="card-category-show text-center"><%= @pitch.description %></p>

            <div class="d-flex justify-content-between mt-4 ">
              <%= link_to "Back", pitches_path, class: "btn btn-outline-success" %>
              <%= link_to "Edit", edit_pitch_path(@pitch), class: "btn btn-outline-primary" if @pitch.user == current_user %>
              <% if @pitch.user == current_user %>
                <%= button_to "Delete", @pitch, method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
          </div>
        </div>

      <%# Comment Section %>
        <div class="comments-section mt-4">
          <% @pitch.comments.each do |comment| %>
            <div class="card mb-3 comment-box-pitch comment-box-pitch-inner triangle-comment">
              <div class="card-body-pitch">
                <div class="d-flex align-items-start">
                  <%= link_to profile_path(comment.user.id)  do %>
                    <div>
                      <%= cl_image_tag comment.user.photo.key, class: "comment-user-img img-thumbnail rounded-circle"%>
                    </div>
                  <% end %>
                  <div class="ml-3 comments-icons">
                    <h5 class="card-title"><%= comment.user.first_name %> <%= comment.user.last_name %></h5>
                  <% if comment.rating == 1 %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                  <% elsif comment.rating == 2 %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                  <% elsif comment.rating == 3 %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                  <% elsif comment.rating == 4 %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                  <% else %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                    <%= content_tag :i, "", class: "fa-solid fa-star" %>
                  <% end %>
                    <p class="card-text-pitch comment-text"><%= comment.content %></p>
                    <p class="card-text-pitch text-muted"><small><%= time_ago_in_words(comment.created_at) %> ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="display-flex flex-wrap">
          <div class=" comments-comment-box-pitch-comment_text-editor">
            <div class="comment-box-pitch">
              <div class="comment-user-img">
              <%= link_to profile_path(current_user.id)  do %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, alt: current_user.first_name, class: "comment-user-img img-thumbnail rounded-circle" %>
            <% else %>
              <%= image_tag "profile_placeholder.png", alt: current_user.first_name, class: "comment-user-img img-thumbnail rounded-circle" %>
            <% end %>
            <% end %>
              </div>
              <div class="comment-box-pitch-content ">
                <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
                <%= simple_form_for [@pitch, @comment], class: "mt-3" do |f| %>
                  <div class="form-group-show w-100 ">
                    <%= f.input :content, label: false, placeholder:  "Type your comment here...", input_html: { class: "form-control " } %>
                  </div>
                  <div class="form-group-s">
                    <%= f.input :rating, collection: (1..5).to_a, label: "Rate this pitch", input_html: { data: { controller: "star-rating" } } %>
                  </div>
                  <%= f.submit "Add Comment", class: "btn btn-primary btn-block" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
