<body>
    <div class="main-container">

        <%# Genix Main %>
        <div class="container home-container col-12 col-lg-12">
          <div class="left-content">
            <h1 class="title">Genix</h1>
            <p class="slogan">
              Where Every Great Idea Begins
            </p>
              <%= link_to "Explore Pitches", pitches_path, class: "main-btn" %>
          </div>
              <%= image_tag "lighthouse.svg", class: "lighthouse" %>
        </div>

      <%# Bottom Half %>
        <div class="bottom">
          <div class="index col-sm-12 col-lg-6" data-controller="highlight" data-action="scroll@window->highlight#scrollHome" >
            <div class="container">
              <h1 class="index-title"><%= image_tag "logo-genix.svg", class: "logo-genix"%>Genix</h1>
              <p class="index-intro">
                <strong>Welcome to Genix</strong> - the innovative social hub for passionate creators and dreamers. Dive into a sea of groundbreaking project ideas, offer your invaluable insights, and forge meaningful connections with like-minded individuals. Whether you're seeking inspiration, feedback, or collaboration, Genix brings your visions closer to reality. Turn ideas into action, and dreams into projects. Join the Genix community today.
              </p>
              <ul class="index-elements">
                <li class="highlight-pitches" data-highlight-target="pitches">Pitches</li>
                <li class="highlight-projects" data-highlight-target="projects" >Projects</li>
                <li class="highlight-connect" data-highlight-target="connect"> Connect</li>
                <li class="highlight-about"data-highlight-target="about">About Us</li>
              </ul>
            </div>
            <p class="logo-text-home">
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-github"></i>
              <i class="fa-brands fa-instagram"></i>
            </p>
          </div>

          <%# Details %>
          <div class="details col-sm-12 col-lg-6">
            <div class="description-container">
                <div class="description-item">
                  <div class="d-flex justify-content-space-between align-items-center ">
                    <%= image_tag "pitch.svg", width: 150, height: 150 %>
                    <h1><strong>Pitches</strong></h1>
                  </div>
                  <p>
                     Dive deep into the world of innovation with Genix's Explore Pitches. Here, users have the opportunity to discover cutting-edge project ideas from across the globe. Engage with these ideas by commenting, rating, and saving your favorites. Have an idea of your own? Share it and gather invaluable feedback from a community eager to support and nurture creativity.
                  </p>
              </div>
              <hr>
              <div class="description-item">
               <div class="d-flex justify-content-space-between align-items-center">
                  <%= image_tag "project.svg", width: 150, height: 150 %>
                  <h1 class="ps-1"><strong>Projects</strong> </h1>
                </div>
                  <p>
                   Transition from ideation to execution with our Projects section. Browse through a diverse range of ongoing projects, connect with teams that align with your skillsets, or seek out individuals with expertise you need. Posting a project also lets you clearly state the skills you're looking for, ensuring that the right collaborators come your way.
                  </p>
              </div>
              <hr>
              <div class="description-item">
                <div class="d-flex justify-content-space-between align-items-center " >
                  <%= image_tag "connect.svg", width: 150, height: 150 %>
                  <h1 class="ps-4"><strong>Connect</strong></h1>
                </div>
                  <p>
                     Genix's Connect is more than just a networking platform. It's a hub tailored for passionate developers and creators. Regardless of your programming language, skill level, or area of passion, Connect ensures you find individuals whose goals resonate with yours. Forge lifelong professional relationships and embark on collaborative journeys that redefine innovation.
                  </p>
              </div>
              <hr>
              <div class="description-item">
                <div class="d-flex justify-content-space-between align-items-center ">
                  <%= image_tag "about-us.svg", width: 150, height: 150 %>
                  <h1 class="ps-3"><strong>About Us</strong> </h1>
                </div>
                  <p>
                    At Genix, we believe in the power of collaboration and the boundless potential of the human mind. Our platform was conceived with the vision of bringing together creators from various walks of life to ideate, collaborate, and revolutionize the digital landscape. Learn more about our journey, our mission, and the values that fuel our ever-evolving platform.
                  </p>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
