<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for(@project, html: { class: 'custom-form' }) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-group">
          <i class="fas fa-user"></i>     <label for="title">Project Name</label>
          <div class="input-icon">
            <%= f.input_field :title, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <i class="fas fa-tags"></i>     <label for="category">Category Name</label>
          <div class="input-icon">
            <%= f.input_field :category, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <i class="fas fa-code"></i>     <label for="languages">Skills</label>
          <div class="input-icon">
           <%= f.input :languages, as: :check_boxes, collection: ['Ruby', 'Python', 'Java', 'JavaScript', 'C++', 'PHP', 'SQL', 'others'], legend_tag: false , input_html: { class: 'form-check-input' } %>
          </div>
        </div>

        <div class="form-group">
          <i class="fas fa-info-circle"></i>     <label for="description">Description</label>
          <div class="input-icon">
            <%= f.input_field :description, as: :text, rows: 4, class: 'form-control' %>
          </div>
        </div>


        <div class="form-group">
          <i class="fa-brands fa-github"></i>     <label for="photo">Github:</label>
          <div class="input-icon">
            <%= f.input_field :github, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <i class="fas fa-camera"></i>     <label for="photo">Upload Photo</label>
          <div class="input-icon">
            <%= f.input_field :photo, as: :file, class: 'form-control-file' %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, 'Submit', class: 'btn btn-primary m-3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
