<div class="proj-container">

  <H2 class="proj-title">
   <%= project.title %>
  </H2>
  <hr class="proj-hr">

  <div class="proj-content">
    <hr class="proj-hr">

    <% if project.photo.attached? %>
        <%= cl_image_tag project.photo.key %>
      <% else %>
        <%= image_tag "placeholder.webp" %>
    <% end %>

    <div>
      <strong>Prog. Languages</strong>
      <p class="gray">
        <%= project.languages %>
      </p>

      <strong>Description</strong>
      <p class="gray">
        <%= project.description %>
      </p>


      <strong>Category</strong>
      <p class="gray">
        <%= project.category %>
      </p>

    <div class="github-link">
      <%= link_to project.github, target: "_blank" do %>
        <i class="fa-brands fa-github"></i> View on Github
      <% end %>
    </div>

    </div>
  </div>
</div>
