
  <H2>
   <%= project.title %>
  </H2>

  <p>
    <strong>Programming Languages:</strong>
    <%= project.languages %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

    <p>
    <strong>Category:</strong>
    <%= project.category %>
  </p>

    <p>
    <strong>Github Link:</strong>
    <%= project.github %>
  </p>

  </div>
