<div class="proj-container mx-2">

    <h2 class="proj-title">
      <%= project.title %>
    </h2>

      <div class=" d-flex bd-highlight" >
      <hr class="hr-pitch">
      <div class="foto-show-project  d-flex  align-items-center">
      <hr class="hr-pitch">
        <% if project.photo.attached? %>
            <%= cl_image_tag project.photo.key, class: "card-shadow" %>
          <% else %>
            <%= image_tag "placeholder.webp" %>
        <% end %>

      </div>


  <div class="proj-content mx-3 mt-2 ">
        <strong> <i class="fa-regular fa-circle-check"></i>   Category</strong>
        <p class="gray mx-3 p-2">
          <%= project.category %>
        </p>
        <strong>  <i class="fa-solid fa-code"></i>  Prog. Languages </strong>
        <div class="gray">
          <% project.languages.each do |language| %>
            <% next if language.blank? %>
            <p class="paragrafo-bom"><%= language %></p>
          <% end %>
          </div>
      </div>
  </div>


        <strong class="mx-3 p-2"> <i class="fa-solid fa-quote-left"></i> Description</strong>
        <p class="gray mx-3 p-2">
          <%= project.description %>
        </p>


    <div class=" github-link text-center">
  <%= link_to project.github, target: "_blank" do %>
    <i class="fa-brands fa-github"></i> View on Github
  <% end %>
</div>
</div>
