<div class="container proj-container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="sidebar border rounded bar">
        <div class="sidebar">
          <ul class="list-group">
            <li class="list-group-item"><%= link_to "Home", root_path %></li>
            <li class="list-group-item"><%= link_to "Pitches", pitches_path %></li>
            <li class="list-group-item"><%= link_to "Connect", profiles_path %></li>
            <li class="list-group-item"><%= link_to "About us", aboutus_path %>
          </ul>
        </div>
          <div class="row justify-content-center">
            <div class="col-sm-8 my-3">
              <%= link_to "Post a Project", new_project_path, class: 'btn btn-success btn-sm center d-flex align-items-end m-2 justify-content-center '%>
           </div>
          </div>
      </div>
      <div class="img-proj">
        <%= image_tag "lighthouse.svg", width: 50, height: 50%>
      </div>
    </div>
    <div class="col-md-10">
      <p style="color: green"><%= notice %></p>
      <h1 class="text-center">View Projects</h1>
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: projects_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "e.g Ruby, Frontend"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-success m-1" %>
          <% end %>
        </div>
      </div>
      <div id="projects">
        <% @projects.each do |project| %>
          <div class="mb-4">
            <%= link_to project_path(project) do  %>
              <div class="card whole-card" style="box-shadow: 2px 4px 4px rgba(0, 0, 2, 0.1);">
                <div class="card-proj "  data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Description" data-bs-content="
             <%= project.description %>" style="box-shadow: 2px 4px 4px rgba(0, 0, 2, 0.1);">>
                  <% if project.photo.attached? %>
                    <%= cl_image_tag project.photo.key, height: 70, width: 70, crop: :fill %>
                  <% else %>
                    <%= image_tag "placeholder.webp", height: 70, width: 80, crop: :fill %>
                  <% end %>
                  <div class="card-content-proj">
                    <h2 class="card-title-proj w-100"><%= project.title %></h2>
                    <h2 class="card-category-proj w-100"><%= project.category %></h2>
                  </div>
                </div>
                <%= link_to "Show this project", project, class: 'btn btn-success btn-sm center d-flex align-items-end m-2 justify-content-center' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
