<div class="container proj-container mb-3 m-3x">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="sticky">
        <div class="sidebar border rounded bar">
          <div class="d-flex  flex-column align-items-center p-2 gap-4 m-2">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, alt: current_user.first_name, class: "img-fluid rounded-circle img-thumbnail mx-auto d-block" %>
            <% else %>
              <%= image_tag "profile_placeholder.png", alt: current_user.first_name, class: "img-fluid rounded-circle img-thumbnail mx-auto d-block" %>
            <% end %>
            <p><strong><%= current_user.first_name %> <%= current_user.last_name %> </strong></p>
            <ul class="list-group">
              <li class="list-group-item"><%= link_to profile_path(current_user) do %><i class="fa-solid fa-circle-user"></i>   My Profile<% end %></li>
              <li class="list-group-item"><%= link_to root_path do %><i class="fa-solid fa-house"></i>   Home<% end %></li>
              <li class="list-group-item"><%= link_to pitches_path do %><i class="fa-solid fa-person-chalkboard"></i>   Pitches<% end %></li>
              <li class="list-group-item"><%= link_to profiles_path do %><i class="fa-solid fa-users"></i>    Connect<% end %></li>
            </ul>
          </div>

        </div>
            <div class="justify-content-center">
              <div class="my-4">
                <%= link_to "Post a Project", new_project_path, class: 'btn btn-roxo btn-success btn-sm center d-flex align-items-end justify-content-center '%>
            </div>
           </div>
    </div>

  </div>
    <div class="col-md-9">
      <p style="color: green"><%= notice %></p>
      <h1 class="text-center"><i class="fa-solid fa-magnifying-glass"></i> Projects</h1>
      <div class="row justify-content-center m-5">
        <div class="col-sm-8 my-3">
          <%= form_with url: projects_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "e.g Ruby, Frontend"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-success m-1" %>
          <% end %>
        </div>
      </div>

        <div class="row justify-content-center button-mobile">
          <div class="my-4">
            <%= link_to "Post a project",  new_project_path, class: "btn btn-roxo btn-success btn-sm center d-flex align-items-end justify-content-center"%>
          </div>
        </div>

      <div id="projects">
        <% @projects.each do |project| %>
          <div class="mb-4">
            <%= link_to project_path(project) do  %>
              <div class="card whole-card" style="box-shadow: 2px 4px 4px rgba(0, 0, 2, 0.1);">
                <div class="card-proj "  data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Description" data-bs-content="
             <%= project.description %>" >
                  <% if project.photo.attached? %>
                    <%= cl_image_tag project.photo.key, height: 70, width: 70, crop: :fill %>
                  <% else %>
                    <%= image_tag "placeholder.webp", height: 70, width: 80, crop: :fill %>
                  <% end %>
                  <div class="card-content-proj">
                    <h2 class="card-title-proj w-100"><%= project.title %></h2>
                    <h2 class="card-category-proj w-100"><%= project.category %></h2>
                  </div>
                </div>
                <%= link_to "View details ", project, class: 'btn btn-success btn-sm center d-flex align-items-end m-2 justify-content-center' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
