
<div class="container   my-3">
  <div class="row justify-content-center my-5">
    <div class="col-md-9">
      <div class="description-item mb-2">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body-pitch ">
            <div class="d-flex main-body">
              <% if @project.photo.attached? %>
                <%= cl_image_tag @project.photo.key, alt: current_user.first_name, class: "img-pitches" %>
              <% else %>
                <%= image_tag "placeholder.webp", alt: current_user.first_name, class: "img-pitches " %>
              <% end %>
              <div>
                <div class="d-flex ">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag @project.owner.photo.key, alt: @project.owner.first_name, class: "comment-user-img img-thumbnail me-2" %>
                <% else %>
                  <%= image_tag "profile_placeholder.png", alt: @project.owner.first_name, class: "comment-user-img img-thumbnail me-2" %>
                <% end %>
                <h4 class="card-title mt-3"><%=  @project.owner.first_name %> <%=  @project.owner.last_name %></h4>
              </div>
              <hr class="hr-pitch">
                <h2 class="card-title-show d-flex p-1"><%= @project.title %></h2>
                <hr class="hr-pitch">
                <p class="card-text-pitch"><strong class="title-show-descp"><i class="fa-solid fa-code"></i> Skills</strong></p>
                <p class=" p-descr"> •
                 <% @project.languages.each do |language| %>
                <%= language %> •
                 <% end %>
                 </p>
                <p class="card-text-pitch "><strong class="title-show-descp"><i class="fa-regular fa-circle-check"></i> Category</strong></p>
                <p class="p-descr"><%= @project.category %></p>
              </div>
            </div>
            <p class="card-text-pitch"><strong class="title-show-descp"><i class="fa-solid fa-quote-left"></i> Description </strong></p>
            <p class="card-category-show"><%= @project.description %></p>

            <div class="d-flex justify-content-between mb-3 align-items-center" >
          <%= link_to "Back", projects_path, class: "btn btn-outline-success btn-sm center m-3" %>
          <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-primary btn-sm m-3" if @project.owner == current_user %>
          <% if @project.owner == current_user %>
            <%= button_to "Delete", @project, method: :delete, class: "btn btn-outline-danger btn-sm m-3", data: { confirm: "Are you sure?" } %>
          <% else %>
            <% if @members_approved.positive? %>
              <p>You're accepted</p>
            <% elsif  @members_pending.positive? %>
              <p>pending...</p>
            <% else %>
              <%= simple_form_for [@project, @member] do |f| %>
                <%= f.submit "Apply", class: "btn btn-apply btn-sm center m-3" %>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>

    </div>


              </div>
            </div>
          </div>
        </div>

    <div class="members d-flex justify-content-center ">
      <% if @project.owner == current_user %>
      <div class="container member-container ">

        <p><i class="fa-regular fa-handshake"></i> Member Request(s) </p>
          <% @members_users.each do |member| %>

            <%= cl_image_tag member.user.photo.key, alt:  member.user , class: " img-owner comment-user-img img-thumbnail mb-7" %>
              <%= link_to member.user.first_name, profile_path(member.user), class: "btn btn-outline-dark" %>

              <% if member.status %>
                <p>Your membership is approved!</p>
              <% else %>
                <%= link_to "Approve?", member_path(member), data: {turbo_method: :patch}, class: "btn btn-outline-success btn-sm center m-3" %>
                <%= link_to member_path(member), data: {turbo_method: :delete} do %>
                  <i class="fa-regular fa-trash-can center m-3 garbage"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          </div>
      </div>
      </div>
