<div class="show-cont">
  <div class="d-flex justify-content-center m-5 my-3">
    <div class="card proj-card" style="box-shadow: 2px 4px 4px rgba(0, 0, 2, 0.1); width: 42rem;">
        <div class="d-flex align-items-center m-3  ">
              <%= cl_image_tag @project.owner.photo.key, alt:  @project.owner , class: " img-owner comment-user-img img-thumbnail mb-7" %>
              <h4><%= @project.owner.first_name %> <%= @project.owner.last_name %></h4>
            </div>
      <div class="card-body mb-4">
        <%= render @project %>
        <div class="d-flex justify-content-between mb-3 align-items-center" >
          <%= link_to "Back to projects", projects_path, class: "btn btn-outline-success btn-sm center m-3" %>
          <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-primary btn-sm m-3" if @project.owner == current_user %>
          <% if @project.owner == current_user %>
            <%= button_to "Delete", @project, method: :delete, class: "btn btn-outline-danger btn-sm m-3", data: { confirm: "Are you sure?" } %>
          <% else %>
            <% if @members_approved.positive? %>
              <p>You're accepted</p>
            <% elsif  @members_pending.positive? %>
              <p>pending...</p>
            <% else %>
              <%= simple_form_for [@project, @member] do |f| %>
                <%= f.submit "Apply", class: "btn btn-apply btn-sm center m-3" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
    <div class="members">
      <% if @project.owner == current_user %>
      <div class="container member-container">

        <p>Member Request(s):</p>
          <% @members_users.each do |member| %>

            <%= cl_image_tag @project.owner.photo.key, alt:  @project.owner , class: " img-owner comment-user-img img-thumbnail mb-7" %>
              <%= link_to member.user.first_name, profile_path(member.user), class: "btn btn-outline-dark" %>

              <% if member.status %>
                <p>Your membership is approved!</p>
              <% else %>
                <%= link_to "Approve?", member_path(member), data: {turbo_method: :patch}, class: "btn btn-outline-success btn-sm center m-3" %>
                <%= link_to member_path(member), data: {turbo_method: :delete} do %>
                  <i class="fa-regular fa-trash-can center m-3 garbage"></i>
                <% end %>
              <% end %>

            
        <% end %>
      </div>
      <% end %>
    </div>
</div>
